@if (isOpen) {
  <div
    (click)="onBackdropClick($event)"
    class="fixed inset-0 z-50 bg-black/80 backdrop-blur-xs flex items-center justify-center p-4 transition-opacity duration-200"
  >
    <div
      class="w-full bg-[#132036] border border-[#21324d] rounded-2xl shadow-2xl flex flex-col max-h-[85vh] font-mono text-white overflow-hidden transition-all duration-200"
      [ngClass]="maxWidthClass"
    >
      <!-- Header do Modal -->
      @if (title) {
        <div class="p-4 border-b border-[#21324d] flex justify-between items-center bg-[#060d1b]/30">
          <div class="flex items-center gap-2">
            <span class="text-xs uppercase tracking-widest text-[#94a3b8] font-bold">
              // {{ title }}
            </span>
            <ng-content select="[modal-header]"></ng-content>
          </div>
          <button
            type="button"
            (click)="closed.emit()"
            class="text-[#94a3b8] hover:text-white text-xs px-2.5 py-1 rounded-xl border border-[#21324d] hover:border-[#334b73] transition-colors cursor-pointer"
          >
            [ESC / PECHAR]
          </button>
        </div>
      }

      <!-- Corpo do Modal -->
      <div class="flex-1 overflow-y-auto p-4 space-y-4">
        <ng-content></ng-content>
      </div>

      <!-- Pe do Modal (Opcional) -->
      <div class="empty:hidden border-t border-[#21324d] p-4 bg-[#060d1b]/30">
        <ng-content select="[modal-footer]"></ng-content>
      </div>
    </div>
  </div>
}
