<div class="mt-5">
  <app-port-selector></app-port-selector>
  <div class="mt-5">
    <app-day-selector (selection)="onDaySelected($event)"></app-day-selector>
  </div>
  <app-fish-selector [(speciesSelected)]="selectedSpecies"></app-fish-selector>
  <div class="grid grid-cols-1 md:grid-cols-12 gap-4 items-stretch mt-5">
    <div class="md:col-span-3">
      <app-card-score
        [selectedSpecies]="selectedSpecies()"
        [forecast]="currentForecast()"
      ></app-card-score>
    </div>

    <div class="md:col-span-6">
      <app-info-card
        [forecast]="currentForecast()"
        [port]="selectedPort()"
      ></app-info-card>
    </div>

    <div class="md:col-span-3">
      <app-temperature-card
        [forecast]="currentForecast()"
      ></app-temperature-card>
    </div>
  </div>

  <div class="mt-5">
    <app-score-hourly
      [forecasts]="upcomingForecast()"
      [selectedSpecies]="selectedSpecies()"
    ></app-score-hourly>
  </div>
</div>
